extends ../../layouts/default

block head
    title Details - NodeJS Events App

block body
    .row
        .col-sm-8
            .page-header
                h1 #{event.name}
                    small &nbsp; Posted by #{event.username}   
    
            .ul.events-details
                li 
                    strong Venue: 
                    |  #{event.venue}
                li 
                    strong Date: 
                    | #{event.date}
                li 
                    strong Start Time: 
                    | #{event.startTime}
                li 
                    strong End Time: 
                    | #{event.endTime}
                
            br
            strong Description:
            .event-desc 
                p #{event.desc}
            
            br
            br
            p
                i.fa.fa-arrow-circle-left
                a(href='/events') &nbsp; Go Back
                
        .col-sm-4
            .page-header
                h1 Sidebar